<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- EXT.NET配置 -->
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <extnet theme="Crisp" licenseKey="YW55dGhpbmcsOSwyMDUwLTEyLTMx" />
  <!--<extnet theme="Default" licenseKey="YW55dGhpbmcsOSwyMDUwLTEyLTMx" />-->
  <!--2050-12-31-->
  <system.web>
    <sessionState timeout="7200" />
    <httpHandlers>
      <!-- EXT.NET配置 -->
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <!-- EXT.NET配置 -->
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <!--<add key="EMMS_JCW_ConnectionString" value="UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO0RhdGEgU291cmNlPXYtMjAwOC10ZXN0NTE7SW5pdGlhbCBDYXRhbG9nPUVNTVNfSkNXO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9MXEydyNFJFI7UGFja2V0IFNpemU9NDA5NjtQb29saW5nPXRydWU7TWF4IFBvb2wgU2l6ZT0xMDA7TWluIFBvb2wgU2l6ZT0x"/>-->
    <!--<add  key="Security_ConnectionString" value="UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO0RhdGEgU291cmNlPXYtMjAwOC10ZXN0NTE7SW5pdGlhbCBDYXRhbG9nPUVNTVNfSFdSaWdodHNfUmVsZWFzZV9WMS4zLjA7VXNlciBJRD1zYTtQYXNzd29yZD0xcTJ3I0UkUjtQYWNrZXQgU2l6ZT00MDk2O1Bvb2xpbmc9dHJ1ZTtNYXggUG9vbCBTaXplPTEwMDtNaW4gUG9vbCBTaXplPTE=" />-->
    <add key="EMMS_JCW_ConnectionString" value="UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO0RhdGEgU291cmNlPXYtMjAwOC1kZXYxMDtJbml0aWFsIENhdGFsb2c9RU1NU19KQ1c7VXNlciBJRD1zYTtQYXNzd29yZD0xcTJ3I0UkUjtQYWNrZXQgU2l6ZT00MDk2O1Bvb2xpbmc9dHJ1ZTtNYXggUG9vbCBTaXplPTEwMDtNaW4gUG9vbCBTaXplPTE=" />
    <add key="Security_ConnectionString" value="UGVyc2lzdCBTZWN1cml0eSBJbmZvPUZhbHNlO0RhdGEgU291cmNlPXYtMjAwOC1kZXYxMDtJbml0aWFsIENhdGFsb2c9RU1NU19IV1JpZ2h0cztVc2VyIElEPXNhO1Bhc3N3b3JkPTFxMncjRSRSO1BhY2tldCBTaXplPTQwOTY7UG9vbGluZz10cnVlO01heCBQb29sIFNpemU9MTAwO01pbiBQb29sIFNpemU9MQ==" />
    <add key="HWSecurity" value="http://192.168.0.161:1122/Pages/HWSecurity/WebServices/Security.asmx" />
    <add key="SyncServicePath" value="http://localhost:9685/emms_sync" />
    <add key="SyncEMIS30Path" value="http://localhost:18923/SyncEMIS30.svc" />
    <add key="SecuritySubCompany" value="局" />
    <add key="UnAuthorizedPage" value="Login.aspx" />
    <add key="AppName" value="(广州段)广铁集团供电接触网检修系统" />
    <add key="AppRights" value="1997-2015 华微软件版权所有" />
    <add key="Version" value="Beta2" />
    <add key="DatabaseType" value="0" />
    <add key="TSCJ" value="云浮东供电监管车间" />
    <!--是否开启缓存地图功能-->
    <add key="IsCacheMap" value="false" />
    <!--地图缩放范围 格式 左边为最小级别，右边为最大级别，中间以半角分号隔开 如 1,18 -->
    <add key="MapZoomRange" value="1;18" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="2323;True;10300;1;-8587636099585667032" />
    <add key="UserScheduleState" value="✔,休,培训,勤,差,婚,陪产" />
  </appSettings>
  <system.webServer>
    <modules>
      <!-- EXT.NET配置 -->
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <!-- EXT.NET配置 -->
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>